@use 'system/_colors.scss'as *;
@use 'system/_typography.scss'as *;
@use 'system/_layout.scss'as *;
@use 'system/_buttons.scss'as *;

/* resets  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
.btn-link {
  transition: .3s ease all;
}

.btn-link:hover,
a:hover {
  cursor: pointer;
  color: rgb(202, 157, 218);
}

nav ul {
  padding: 0;
  list-style: none;
}

/* colors  */

/* typography */

h1,
.h1 {
  @include h1Style();
}

h2,
.h2 {
  @include h2Style();
}

h3,
.h3 {
  @include h3Style();
}

h4,
.h4 {
  @include h4Style();
}

h5,
.h5 {
  @include h5Style();
}

h6,
.h6 {
  @include h3Style();
}

p,
.p {
  @include pStyle();
}

.display-style {
  @include displayStyle;
}
.title-style {
  @include titleStyle;
}
.text-style {
  @include textStyle;
}
.large-text-style {
  @include largeTextStyle;
}

/* layouts */

.contained {
  @include contained;
}

.grid-basic {
  @include gridBasic;
}

.grid-fixed {
  @include gridFixed;
}

.grid-fixed-nested {
  @include gridFixedNested;
}

.grid-fluid {
  @include gridFluid;
}

.flex-center {
  @include flexCenter;
}

.stacked-divs {
  @include stackedDivs;
}

.flex-col {
  display: flex;
  flex-direction: column;

  &.center {
    justify-content: center
  }
}

.flex-row {
  display: flex;

  &.center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.flex-row-reverse {
    flex-direction: row-reverse;
  }
}

.visually-hidden {
  display: none;
}

button {
  outline: 0;
  padding: .5rem;
  border: 1px solid black;
  border-radius: 0;
  background: white;
  color: black;
  font-family: inherit;
  font-size: inherit;
  &:hover {
    cursor: pointer;
  }
}

.btn-plain {
  padding: 0;
  border: 0;
  background: transparent;
}

.btn-primary {
  @include btnPrimary;
}


.btn-secondary {
  @include btnSecondary;
}

textarea,
input {
  outline: 0;
  padding: .5rem;
  border-radius: 0;
  border: 1px solid black;
  background: white;
  color: black;
  font-family: inherit;
  font-size: inherit;
}
textarea {
  height: 6rem;
}

.embed-wrapper {
  position: relative;
  width: 100%;
  max-width: 980px;
  height: 100%;
  div {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #eaeaea;
    }
  }
}

.page-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

form,
.form-group + .form-group {
  margin-top: 1rem;
}

.ul-plain { 
  list-style: none;
}