@use 'system/_colors.scss' as *;
@use 'system/_typography.scss' as *;
@use 'system/_layout.scss' as *;
@use 'system/_buttons.scss' as *;

/* resets  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
.btn-link {
  transition: .3s ease all;
}

.btn-link:hover,
a:hover {
  cursor: pointer;
  color: rgb(202, 157, 218);
}

nav ul {
  padding: 0;
  list-style: none;
}

/* colors  */

/* typography */
body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  @include pStyle();
}

h1,
.h1 {
  @include h1Style();
}

h2,
.h2 {
  @include h2Style();
}

h3,
.h3 {
  @include h3Style();
}

p,
.p {
  @include pStyle();
}

.display-style {
  @include displayStyle;
}

.title-style {
  @include titleStyle;
}

.text-style {
  @include textStyle;
}

.large-text-style {
  @include largeTextStyle;
}

/* layouts */

.contained {
  @include contained;
}

.grid-basic {
  @include gridBasic;
}

.grid-fixed {
  @include gridFixed;
}

.grid-fixed-nested {
  @include gridFixedNested;
}

.grid-fluid {
  @include gridFluid;
}

.flex-center {
  @include flexCenter;
}

.stacked-divs {
  @include stackedDivs;
}

.flex-col {
  display: flex;
  flex-direction: column;

  &.center {
    justify-content: center
  }
}

.flex-row {
  display: flex;

  &.center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.flex-row-reverse {
    flex-direction: row-reverse;
  }
}

.align-center {
  align-items: center;
}



.visually-hidden {
  display: none;
}

button {
  outline: 0;
  padding: .5rem;
  border: 1px solid black;
  border-radius: 0;
  background: white;
  color: black;
  font-family: inherit;
  font-size: inherit;

  &:hover {
    cursor: pointer;
  }
}

.btn-plain {
  padding: 0;
  border: 0;
  background: transparent;
}

.btn-primary {
  @include btnPrimary;
}

.btn-primary-big {
  @include btnPrimaryBig;
}


.btn-secondary {
  @include btnSecondary;
}

textarea,
input {
  outline: 0;
  padding: .5rem;
  border-radius: 0;
  border: 1px solid black;
  background: white;
  color: black;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

textarea {
  height: 6rem;
}

.embed-wrapper:not(.not-responsive-embed) {
  position: relative;
  width: 100%;
  max-width: 980px;
  height: 100%;

  div {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #eaeaea;
    }
  }
}

.page-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

form,
.form-group+.form-group {
  margin-top: 1rem;
}

.ul-plain {
  list-style: none;
}

.pill {
  background: pink;
}

.pill+.pill {
  margin-left: 1ch;
}

.card-list {
  // padding-left: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  li {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    margin-left: 0;
    background: rgb(223, 222, 222);

    a,
    button {
      padding: 0;
      display: flex;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    .text-wrapper {
      >*:not(:first-child) {
        margin-top: 8px;
      }

      >.flex-row>*:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.page-intro {
  width: auto;

  margin-bottom: 2rem;
  display: flex;

  >.text-wrapper {
    border: 1px solid black;
    max-width: 90ch;
    padding: 2rem;
  }
}

.section-title {
  text-transform: none;
  margin-bottom: 1rem;
}

.text-wrapper {
  >*:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  >div:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.documentary-project-page {
  .text-wrapper {
    p {
      max-width: 50ch;
    }
  }
}