@mixin h1Style() {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

@mixin h2Style() {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
}

@mixin h3Style() {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
}

@mixin h4Style() {}

@mixin h5Style() {}

@mixin h6Style() {}

@mixin pStyle() {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}


@mixin displayStyle() {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
}

@mixin titleStyle() {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

@mixin smallTitleStyle() {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

@mixin largeTextStyle() {
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

@mixin textStyle() {
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}